{%extends 'base.html'%}
{%load humanize%}
{%block title%}Blogs {%endblock title%}
{%block content%}
{%for blog in blogs%}
<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><a href="{{blog.get_absolute_url}}">{{blog}}</a></h5>
      <p class="card-text"><small class="text-muted">Last updated {{blog.date_added|naturaltime}}</small></p>
    </div>
  </div>
{%endfor%}

{%if is_paginated%}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {%if page_obj.has_previous%}
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {%endif%}
    {%for i in paginator.page_range%}
      {%if page_obj.number == i%}
      <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
      {%else%}
      <li class="page-item"><a class="page-link" href="#">{{i}}</a></li>
      {%endif%}
    {%endfor%}

    {%if page_obj.has_next%}
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
    </li>
    {%endif%}
  </ul>
</nav>
{%endif%}
{%endblock content%}