{%load hitcount_tags%}
{%if messages%}
{%for message in messages%}
    <li>{{message}}</li>
{%endfor%}
{%endif%}

<h1>{{blog}}</h1>
<p>Published: {{blog.date_added}}</p>
<p>Views: {%get_hit_count for blog%}</p>
<hr>
<h2>Comments</h2>
{%for comment in comments%}
    <li>{{comment.body}} by {{comment}}</li>
{%endfor%}

<form method="post">
    {%csrf_token%}
    {{form.as_p}}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6Lfgd34aAAAAAA-XwPC4YV5KUV0sbJ8secMX_Awr"></div>
    <button type="submit">Submit</button>
</form>