{%extends 'base.html'%}
{%load humanize%}
{%block title%} Tagged {%endblock title%}
{%block content%}
<h1>Blogs containing tag: {{slug}}</h1>
{%if blogs%}
{%for blog in blogs%}
<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><a href="{{blog.get_absolute_url}}">{{blog}}</a></h5>
      {%for tag in blog.tags.all%}
      <a href="{%url 'tagged_blogs' tag.slug%}">
        <span class="badge bg-primary">{{tag}}</span>
      </a>
      {%endfor%}
      <p class="card-text"><small class="text-muted">Last updated {{blog.date_added|naturaltime}}</small></p>
    </div>
  </div>
{%endfor%}
{%else%}
<h2 class="text-muted">There were no blogs found with the given {{slug}}.</h2>
{%endif%}
{%endblock content%}