<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Django Blog | {%block title%}{%endblock title%}</title>
  </head>
  <body>
    {%include 'partials/navbar.html'%}
        <div class="container"> 
            {%if messages%}
            {%for message in messages%}
                <div class="alert alert-{{message.tags}}" role="alert">{{message}}</div>
            {%endfor%}
            {%endif%}
          <div class="row">
                <div class="col-sm-9">
                  {%block content%}
                  {%endblock content%}
                </div>
                <div class="col-sm-3">
                {%include 'partials/recent_blogs.html'%}
                </div>
            </div> 
        {%include 'partials/footer.html'%}
        </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
